////////////////////
// CRYPTED E-MAIL //
///////////////////

/* specifically: https://stackoverflow.com/a/41566570 */
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
/*
USAGE:
<a data-name="info" data-domain="test" data-tld="com" href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a>
*/

////////////////////
//  FLIP 2018 CSS //
////////////////////


/* TEXT STYLES  */

.comment{
  font-family: 'Raleway', sans-serif;
  color: #AAAAAA;
  font-size: .8rem;
  line-height: 130%;
}

#person-email{
  font-family: 'Titillium Web', sans-serif;
}

.style-email{
  font-family: 'Titillium Web', sans-serif;
}

.style-widget-title{
  color:#DADADA;
}


/* For google calendar */
/* https://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive/ */

.responsiveCal {
  position: relative; padding-bottom: 50%; height: 0; overflow: hidden;
}

.responsiveCal iframe {
  position: absolute; top:0; left: 0; width: 100%; height: 100%;
}


/*  FOR WATERMARK  */

/* to make "white bg" transparent */
/* note: this means you need an odd number of widgets */
/* or else #THECONTENT causes a white bar at the bottom */
.home-section {
  background-color: transparent;
  z-index: 1;
}

#watermark{
    background-size: 700px 350px;
    background-repeat:no-repeat;
    background-position:left top;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    left: 0px;
    pointer-events: none;
    height: 100%;
    width: 100%;
    text-align: right;
    opacity: 0.1;
}


/*  for CV WIDGET  */

.sidebarpic{
  /* sets max size  */
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
}

///////////////////
// FLIP 2019 CSS //
///////////////////

/*  FOOTER BAR PLACEMENT */

footer {
  /* background-color:#333333; */
  /* fixing: \themes\academic\assets\sass\academic\_root.scss */
  /* the default template defines footer margin/padding according to rem */
  /* but rem scales according to the bootstrap responsive design */
  /* which makes it hard to place botbar1 */
  /* by using absolute pixels, one can tune botbar1 "top" parameter */
  margin: 64px 0 0;
  padding: 32px 0;
}

#botbar1{
  /* This is the horizontal line */
	background-color:#C1BBAB;
	margin: 0;
	padding: 0;
  	position:relative;
  	top: 70px;
	left: 0px;
	z-index: 9;
	height: 7px;
	width: 100%;
}


#feynmanfoot{
  /* Feynman Diagram */
	background-size: 250px 200px;
	background-repeat:no-repeat;
	background-position:left top;
  pointer-events: none;
	margin: 0;
	padding: 0;
  position: relative;
  /* bottom: -100px;  */ /* if you place div above footer */
  bottom: 90px;
  left: 40vw;
	z-index: 200;
	height: 200px;
	width: 250px;
	text-align: right;
}


/* Kludge for overscrolling */
/* Color the background */
body{
  background-color:#333333;
}

#FOOTERBAR{
  /* for a band that surrounds the footer */
  /* see layouts/_default/baseof.html */
  background-color:#333333;
}

#THECONTENT{
  /* div that stores content, gives it a white background */
  /* for aesthetics when "overscrolling" */
  /* see layouts/_default/baseof.html */
  background-color: #ffffff;
}


/* FOOTER STYLE  */


.center-me {
  margin: 0 auto;
}

footer p {
  /* font-size: 0.75rem; */
  text-align: left;
}

.site-footer,
footer a#back_to_top i {
  color: #899596;
}

/*  FOOTER 3 Column  */

#footer-columns{
  padding-top: 35px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: .75rem;
  font-family:Lato;
}

#footer-col-1{
  padding-bottom: 25px;
}

#footer-columns img{
  max-width: 200px;
  opacity: .5;
}




//////////////////
// ABOUT ME CSS //
//////////////////


/* aboutme.html widget */

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 230px;
  height: 230px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.network-icon li {
  margin-right: 10px;
}

.network-icon li:last-of-type {
  margin-right: 0;
}

.network-icon li:hover {
  transform: scale(1.2)
}

.network-icon a{
  color: #AAAAAA;
}

.network-icon a:hover{
  color: #4caf50;
}


///////////////////
// ICON LIST CSS //
///////////////////



/* STYLE FILE FOR ICON LISTS*/


/* FOR CLASS LIST IN TEACHING */
.teaching{
  font-family: 'Raleway', sans-serif;
  font-size: .75rem;
  color: #AAAAAA;
  vertical-align: text-top;
  padding: 0;
}

.smaller{
  font-size: .6rem;
}

/* STUDENT photos on index.html */
.teachingpic{
  border-radius: 10px;
  /* text-align: center; */
  /* margin: 0 auto; */
  max-width: 80%;
  vertical-align: text-top;
}


/* FOR STUDENT LIST IN RESEARCH */
/*https://stackoverflow.com/questions/34667466/how-to-center-this-horizontal-list-of-images*/
/*better: https://stackoverflow.com/questions/19645931/inline-images-with-captions-centered-under-each*/
.ul-students{
  font-family: 'Raleway', sans-serif;
  color: #AAAAAA;
}

.ul-students:after {
  content: attr(title);
  display: block;
  text-align: center;
}

.ul-students ul {
  text-align: left;
  padding: 0;
}

.ul-students li {
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  font-size: .75rem;
}

.ul-students li img {
  max-width: 80%;
  height: auto;
}

/* STUDENT photos on index.html */
.studentpic{
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}



/////////////////////
// NAV BAR OPACITY //
/////////////////////


/* NAVBAR OPACITY   */
/* Opaque navbar using the rgba assignment */
/* Note: this may all change with bootstrap 4 */
.navbar {
  background-color:rgba(0, 0, 0, 0.75) !important;
}
